.DS_Store
log/*.log
log/*.pid
tmp/*
tmp/**/*
config/database.yml
config/house_coords.yml
config/initializers/double_gis.rb
config/initializers/krus.rb
config/initializers/billing.rb
config/initializers/router.rb
config/crm.yml
config/deploy.rb
db/schema.rb
test
krus_customers.yml
*.sql
public/system
*.log
