/* GENERAL STYLES */

div.jsmenu {
	position: absolute;
	top: 0;
	left: 0;
	font-family: verdana;
}
div.jsmenu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
}
.jsmenu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.jsmenu ul, .jsmenu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.jsmenu li {
	list-style-position: outside;
}


/* FIREFOX STYLES */

.jsmenu.firefox {
	width: 12em;
	background: #F4F5EB;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 2px 0;
}
.jsmenu.firefox a {
	color: #555;
	padding: 4px 15px;
	margin: 0 2px;
}
.jsmenu.firefox a:hover {
	background: #006;
	color: #fff;
}
.jsmenu.firefox a.disabled {
	color: #bbb;
}
.jsmenu.firefox a.disabled:hover {
	background: #F4F5EB;
	color: #bbb;
}
.jsmenu.firefox .separator {
	border-bottom: 1px solid #fff;
	background: #999;
	margin: 2px 4px;
}


/* GOOGLE STYLES */

.jsmenu.google {
	width: 10.5em;
	background: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #676767;
	border-right: 1px solid #676767;
}
.jsmenu.google a {
	color: #00c;
	text-decoration: none;
	padding: 2px 5px;
	cursor: pointer;
	font-size: 12px;
}
.jsmenu.google a:hover {
	background: #D3E3FE;
}
.jsmenu.google a.disabled {
	color: #bbb;
}
.jsmenu.google a.disabled:hover {
	background: #fff;
	color: #bbb;
}
.jsmenu.google .separator {
	background: #ccc;
}

/* DESKTOP STYLES */

.jsmenu.desktop {
	width: 14em;
	background: #f9f8f7;
	border: 1px solid #999;
	padding: 0;
}
.jsmenu.desktop ul, .jsmenu.desktop li {
	margin: 0;
	padding: 0;
}
.jsmenu.desktop li.separator {
	height: 1px;
}
.jsmenu.desktop a {
	color: #555;
	padding: 3px 0 3px 25px;
	margin: 0;
	border: 1px solid #f9f8f7;
}
.jsmenu.desktop a.disabled {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
.jsmenu.desktop li.separator {
	border-bottom: 1px solid #fff;
	background: #aaa;
	margin: 1px 1px 0 1px;
	line-height: 1px !important;
}
.jsmenu.desktop a.new {
  background: #f9f8f7 url(images/page.png) 2px 50% no-repeat;
}
.jsmenu.desktop a.edit {
  background: #f9f8f7 url(images/page_edit.png) 2px 50% no-repeat;
}
.jsmenu.desktop a.copy {
  background: #f9f8f7 url(images/page_copy.png) 2px 50% no-repeat;
}
.jsmenu.desktop a.delete {
  background: #f9f8f7 url(images/page_delete.png) 2px 50% no-repeat;
}
.jsmenu.desktop a.save {
  background: #f9f8f7 url(images/page_save.png) 2px 50% no-repeat;
}
.jsmenu.desktop a.xsl {
  background: #f9f8f7 url(images/page_excel.png) 2px 50% no-repeat;
}
.jsmenu.desktop a.doc {
  background: #f9f8f7 url(images/page_word.png) 2px 50% no-repeat;
}
.jsmenu.desktop a.pdf {
  background: #f9f8f7 url(images/page_acrobat.png) 2px 50% no-repeat;
}
.jsmenu.desktop a.send {
  background: #f9f8f7 url(images/email.png) 2px 50% no-repeat;
}
/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) */
.jsmenu.desktop a.enabled:hover {
	background-color: #0A246A;
	color: #fff;
}

.jsmenu.zzz {
	width: auto;
}
.jsmenu.zzz a {
	padding: 3px 0 3px 23px;
}
.jsmenu.zzz li {
	padding-right: 0.6em;
}
.jsmenu.zzz a.inet-on {
  background: #f9f8f7 url(/images/tick-circle-frame.png) 2px 50% no-repeat;
}
.jsmenu.zzz a.inet-off {
  background: #f9f8f7 url(/images/minus-circle-frame.png) 2px 50% no-repeat;
}
.jsmenu.zzz a.customers {
  background: #f9f8f7 url(/images/customer.png) 2px 50% no-repeat;
}
.jsmenu.zzz a.houses {
  background: #f9f8f7 url(/images/house.png) 2px 50% no-repeat;
}
.jsmenu.zzz a.users {
  background: #f9f8f7 url(/images/users.png) 2px 50% no-repeat;
}

