body {
	padding: 0 0 0 0;
	margin:  0 0 0 0;
}

body, td, th, textarea {
	font: 10pt Verdana, Tahoma;
}

* {
	font-family: Verdana, Tahoma;
}

img {
	border: 0;
}

h1 {
	margin-left: 0.5em;
}

div.copyright {
	font:  7pt Verdana, Tahoma;
	color: #afafaf;
	text-align: right;
}

div#user-bar-greeting, div#user-bar-action {
	color: gray;
	position: absolute;
	top: 0;
	font-size: 8pt;
	padding: 1px;
}

div#user-bar-action {
	text-align:right;
	right: 1px;
}

div.content {
	margin: 0 0.5em 0 0.5em;
}

div.error {
	border: solid 1px red;
	width: 40%;
	padding: 3px 5px 4px 5px;
	margin: 8px 4px 2px 4px;
	background: #ffb0b0;
}

div.notice {
	border: solid 1px green;
	width: 40%;
	padding: 3px 5px 4px 5px;
	margin: 8px 4px 2px 4px;
	background: #c4ffc4;
}

a, a:visited {
	text-decoration: none;
	color: #0000ee;
}

a:hover {
	text-decoration: underline;
}

.small {
	font-size: 7pt;
}

hr {
	height: 1px;
	border-width: 1px 0 0 0;
	border-color: lightgrey;
	margin: 5 auto 5 auto;
}

div.t1 {
	margin-left: 2em;
}

table.history td.date {
	font-size: 10pt;
	font-weight: bold;
	padding-top: 10px;
}

table.history tr:first-child td.date {
	padding-top: 2px;
}

.clear {
	clear:both;
}

.nobr {
	white-space: pre;
}

@media print {
	.noprint, 
	div.copyright,
	div.menu,
	#user-bar-action,
	#user-bar-greeting,
	#topmenu,
	ul.actions {
		display:none;
	}
}

/*
-------------------------
 ERRORS
-------------------------
*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*
-------------------------
 MENU
-------------------------
*/

div#topmenu, div.menu {
	margin: 10px 10px;
	text-align: center;
}

div#topmenu a img {
	margin-right: 4px;
	position: relative;
	top: 3px;
	height: 16px;
	width: 16px;
}

div#topmenu {
	margin: 0 5em 5px 5em;
}


/*
-------------------------
 TABLES
-------------------------
*/

table.t1 {
	border-collapse: collapse;
	/* margin: 0 auto; */
	margin-bottom: 1em;
	margin-left: 1em;
}

input + form .t1 {
	margin-top: 1em;
}

.t1 td, .t1 th{
	padding: 0 4;
	border: solid 1px #ccc;
}

.t1 caption {
	font: 9pt tahoma;
	color: #666;
}

.t1 th {
	background: #d0d0d0;
	padding-bottom: 2px;
	padding-top: 1px;
	font:bold 8pt tahoma;
}

.t1 thead th {
	font-weight: bold;
	text-align: center;
}

form .t1 td {
	padding: 0;
	margin: 0;
	width: 1;
}

.t1 td input {
	margin: 0;
}

.t1 td input[type=submit], .t1 td input[type=button], .t1 td input[type=reset] {
	margin-top: 0.4em;
	margin-bottom: 0.3em;
	width: 8em;
	margin-right: 0.2em;
	margin-left: 0.2em;
}

.t1 .submits {
	border: 0;
	text-align: center;
}

.t1 td + td {		/* comments in forms */
	padding: 0 4;
}

.t1 tr:hover td {
	background-color: #ffffcc;
}

.t1 tr.clickable {
	cursor: pointer;
}

/*
-------------------------
 ACTIONS
-------------------------
*/

div.actions, h2 {
	font-size: 11pt;
	font-weight: bold;
}

ul.actions {
	font-size: 14pt;
	list-style: none;
	font-weight: normal;
	margin-top: 0.5em;
}

ul.actions li {
	margin-bottom: 0.2em;
}

/* 2nd level actions */
ul.actions ul {
	margin-top: 0.2em;
}

ul.actions ul li {
	font-size: 12pt;
	font-weight: bold;
}

ul.actions div {
	font-weight: normal;
}

/*
-------------------------
 default fieldset
-------------------------
*/

fieldset {
	width: 400px;
	margin-bottom: 8px;
}

fieldset legend {
	font-weight: bold;
}

/*
-------------------------
 ADDRESS input form
-------------------------
*/

fieldset.address {
	width: 20em;
	padding-left: 5px;
	padding-right: 0;
}

/*
-------------------------
 icons
-------------------------
*/

img.user {
	padding: 0;
	margin: 0;
	width: 16px;
	height: 16px;
	position: absolute;
}

a.user {
	background: url(/images/user-disable.png) no-repeat left 1px;
	padding-left: 18px;
	text-transform: none;
	cursor: pointer;
	white-space: pre;
}

a.house {
	white-space: pre;
	color: black;
	background: url(/images/house.png) no-repeat -1px 1px;
	padding-left: 18px;
}

a.house1 { background: url(/images/home-small.png)   no-repeat -1px 2px }
a.house2 { background: url(/images/house.png)        no-repeat -1px 2px }
a.house3 { background: url(/images/building-medium.png) no-repeat -1px 3px }
a.house4 { background: url(/images/building-old.png) no-repeat -1px 1px }

a.customer {
	color: black;
}

a.admin             { background-image: url(/images/user-white.png) }
a.admin.female      { background-image: url(/images/user-white-female.png) }
a.technician        { background-image: url(/images/user-black.png) }
a.technician.female { background-image: url(/images/user-black-female.png) }
a.manager           { background-image: url(/images/user-nude.png) }
a.manager.female    { background-image: url(/images/user-nude-female.png) }
a.super_manager           { background-image: url(/images/user-orange.png) }
a.super_manager.female    { background-image: url(/images/user-orange-female.png) }

ul.customers-autocomplete li {
	padding: 0 !important;
}

ul.customers-autocomplete .addr {
	color: gray;
	text-align: right;
	font: 8pt Tahoma;
}

/*
-------------------------
 map
-------------------------
*/

div.bigmap {
	margin-left: 290px;
	margin-right:  3px;
	margin-top:   25px;
	border: solid 1px gray;
	height: 700px;
}

/*
-------------------------
 ticket priorities
-------------------------
*/

.priority10  { color:#990000; background: #ffc4c4 }
.priority5   { color:#990000; background: #fff2f2 }
.priority0   { }
.priority-5  { color:#555599; background: #f2faff }
.priority-10 { color:#555599; background: #ddf2ff }

/*
-------------------------
 pagination
-------------------------
*/

div.pagination {
	margin-left: 1.5em;
	margin-bottom: 5px;
}

div.pagination + table.t1 {
	margin-bottom: 5px;
}

/* 
 * prev-next arrow links 
 */

a#next-link, a#prev-link {
	text-decoration: none;
}

a#next-link b, a#prev-link b {
	font-weight: normal;
	display: block;
	font-size: 6pt;
	font-family: Tahoma;
	color: lightgrey;
	line-height: 0;
}

a#next-link {
	text-align: right;
	display: block;
}
