body {
	padding: 0 0 0 0;
	margin:  0 0 0 0;
}

body, td, th, textarea {
	font: 10pt Verdana, Tahoma;
}

* {
	font-family: Verdana, Tahoma;
}

img {
	border: 0;
}

h1 {
	margin-left: 0.5em;
}

div.copyright {
	font:  7pt Verdana, Tahoma;
	color: #afafaf;
	text-align: right;
}

div#user-bar-greeting {
	width: 50%;
	float: left;
}

div#user-bar-action {
	text-align:right;
}

div.content {
	margin: 0 0.5em 0 0.5em;
}

div.error {
	border: solid 1px red;
	width: 40%;
	padding: 3px 5px 4px 5px;
	margin: 8px 4px 2px 4px;
	background: #ffb0b0;
}

a, a:visited {
	text-decoration: none;
	color: #0000ee;
}

a:hover {
	text-decoration: underline;
}

.small {
	font-size: 7pt;
}

hr {
	height: 1px;
	border-width: 1px 0 0 0;
	border-color: lightgrey;
	margin: 5 auto 5 auto;
}

/*
-------------------------
 ERRORS
-------------------------
*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*
-------------------------
 MENU
-------------------------
*/

div#topmenu, div.menu {
  margin: 10px 10px;
  text-align: center;
}

/*
-------------------------
 TABLES
-------------------------
*/

table.t1 {
	border-collapse: collapse;
	/* margin: 0 auto; */
	margin-bottom: 1em;
	margin-left: 1em;
}

input + form .t1 {
	margin-top: 1em;
}

.t1 td, .t1 th{
	padding: 0 4;
	border: solid 1px #ccc;
}

.t1 caption {
	font: 9pt tahoma;
	color: #666;
}

.t1 th {
	background: #d0d0d0;
	padding-bottom: 2px;
	padding-top: 1px;
	font:bold 8pt tahoma;
}

.t1 thead th {
	font-weight: bold;
	text-align: center;
}

form .t1 td {
	padding: 0;
	margin: 0;
	width: 1;
}

.t1 td input {
	margin: 0;
}

.t1 td input[type=submit], .t1 td input[type=button], .t1 td input[type=reset] {
	margin-top: 0.4em;
	margin-bottom: 0.3em;
	width: 8em;
	margin-right: 0.2em;
	margin-left: 0.2em;
}

.t1 .submits {
	border: 0;
	text-align: center;
}

.t1 td + td {		/* comments in forms */
	padding: 0 4;
}

.t1 tr:hover td {
	background: #ffffcc;
}

.t1 tr.clickable {
	cursor: pointer;
}

/*
-------------------------
 ACTIONS
-------------------------
*/

div.actions {
	font-size: 11pt;
	font-weight: bold;
	margin-left: 20px;
}

ul.actions {
	font-size: 14pt;
	list-style: none;
	font-weight: normal;
	margin-top: 0.5em;
}

ul.actions li {
	margin-bottom: 0.2em;
}

/*
-------------------------
 default fieldset
-------------------------
*/

fieldset {
	width: 400px;
	margin-bottom: 8px;
}

fieldset legend {
	font-weight: bold;
}

/*
-------------------------
 ADDRESS input form
-------------------------
*/

fieldset.address {
	width: 20em;
	padding-left: 5px;
	padding-right: 0;
}

/*
-------------------------
 icons
-------------------------
*/

img.user {
	padding: 0;
	margin: 0;
	width: 16px;
	height: 16px;
	position: absolute;
}

a.user {
	background: url(/images/user-black.png) no-repeat left 1px;
	padding-left: 18px;
	text-transform: none;
	cursor: pointer;
}

/*
-------------------------
 map
-------------------------
*/

div.bigmap {
	margin-left: 290px;
	margin-right:  3px;
	margin-top:   25px;
	border: solid 1px gray;
	height: 700px;
}

/*
-------------------------
 ticket priorities
-------------------------
*/

.priority10  { color:#990000; background: #ffc4c4 }
.priority5   { color:#990000; background: #fff2f2 }
.priority0   { }
.priority-5  { color:#555599; background: #f2faff }
.priority-10 { color:#555599; background: #ddf2ff }

