<h1>Звонки</h1>

<style>
  span.flat {
    color: #b8b8b8;
  }
  img.fff {
    /* float: right; */
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
  a.r {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url(/images/notebook--plus.png) no-repeat left top;
    margin-right: -3px;
  }

  tr.night td {
    background-color: #f0f0f0;
  }
</style>

<% if @calls.blank? %>
  Нет звонков.
<% else %>
  <table class="t1">
    <%= render :partial => 'call', :collection => @calls %>
  </table>
<% end %>

<%= javascript_tag <<-EOJS
  var active_calls = #{ @calls.find_all{ |call| !call.ended? }.map(&:id).to_json };
  var last_call_id = #{ @calls.any? ? @calls.first.id : 0 };

  Event.observe(window,'load',function(){
    // start active calls monitor
    window.setTimeout(ajax_poll,5000);
  });

  function ajax_poll(){
    new Ajax.Request('/calls/ajax?last=' + last_call_id + '&active=' + active_calls.join(':'),{
      onFailure: function(){
        window.setTimeout(ajax_poll,5000);
      },
      onSuccess: function(){
        window.setTimeout(ajax_poll,5000);
      }
    });
  }

  function fff(id){
    new Ajax.Updater(
      'ph'+id, 
      '/calls/find_customer_form?call_id='+id, 
      {
        asynchronous:true, 
        evalScripts:true, 
        onComplete:function(request){
          $('f'+id).activate();
          new Ajax.Autocompleter(
            'f'+id, 
            'customer_name_auto_complete_'+id,
            '/customers/auto_complete', 
            {indicator:'ai'+id}
          )
        } 
      }
    );
  }
EOJS
%>
