<h1>Welcome to Orbitel CRM</h1>
<% if logged_in? %>
  
  <div class="actions">
    Ваши действия:
    <ul class="actions">
      <li><%= link_to "&raquo; Проверить возможность подключения", 
                check_houses_path %>
      <li><%= link_to "&raquo; Создать запрос на возможность подключения", 
                new_request_tickets_path %>
      <li>&raquo; Создать заявку на подключение
      <li><%= link_to "&raquo; Создать другую заявку", new_ticket_path %>
        <div class="small" style="margin-left:2em">
          (например о потерях на линии или другой неисправности)
        </div>
    </ul>
  </div>

<% else %>
  <p>
    Not logged in. Please <%= link_to "log in", :login %> first.
  </p>
<% end %>
