<h1>Welcome to Orbitel CRM</h1>
<% if logged_in? %>
  
  <div class="actions">
    Ваши действия:
    <ul class="actions">
      <li><%= link_to "&raquo; Создать запрос на возможность подключения", 
                new_request_tickets_path %>
      <li>&raquo; Создать заявку на подключение
    </ul>
  </div>

<% else %>
  <p>
    Not logged in. Please <%= link_to "log in", :login %> first.
  </p>
<% end %>
