<% content_for :head do %>
  <style>
    div.fieldWithErrors {
      display: inline;
      background-color: inherit;
    }
    div.fieldWithErrors input {
      border: solid 2px red;
      margin-bottom: 1px;
    }

    .toolbox {
      float: right;
      margin-top: 4px;
    }
    div.toolbox {
      margin-top: 0;
    }

    img.ajax {
      position: absolute;
      right: 20px;
      top: 4px;
    }
  </style>
<% end %>

<tr><td colspan="2"><hr width="90%"/></td></tr>

<tr>
  <th>тариф</th>
  <td align="center" style="font-size:120%">
    <%= h @ticket.tariff_name %>
  </td>
</tr>

<tr>
  <th>VLAN</th>
  <td align="center" style="font-size:120%">
    <span id="vlan_content">
      <%= render 'tickets/connection_tickets/vlan' %>
    </span>
  </td>
</tr>

<tr>
  <th>IP</th>
  <td align="center" style="font-size:120%">
    <span id="ip_content">
      <%= render 'tickets/connection_tickets/ip' %>
    </span>
  </td>
</tr>

<tr>
  <th>роутер</th>
  <td align="center" style="font-size:120%">
    <div id="router_content" style="position: relative">
      <%= render 'tickets/connection_tickets/router' %>
    </span>
  </td>
</tr>
