<% form_for :ticket, :url => {:action => :create} do |f| %>
  <%= f.hidden_field :type %>
  <% field_set_tag 'Адрес', :class => 'address' do %>
    <% f.fields_for :house do |hf| %>
      <table>
      <tr>
        <td> Улица: 
        <td> <%= text_field_with_auto_complete :street, :name, { :size => 20 }, :indicator => 'ai1' %>
        <td> <%= image_tag 'ajax.gif', :style => 'display:none', :id => 'ai1' %>
      <tr>
        <td> Дом: 
        <td> <%= hf.text_field :number, :size => 5 %>
      </table>
    <% end %>
  <% end %>
<% end %>
