<tr><td colspan="2"><hr width="90%"/></td></tr>
<tr>
  <th>подчиненные<br/>заявки</th>
  <td>
    <table class="noborder">
      <% @ticket.child_tickets.each do |t| %>
        <tr>
          <td><%= link_to "#{t.id}: #{t.title}", t %></td>
          <td><%= link_to_address_of t %></td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
