<tr>
  <th colspan="2">тариф</th>
</tr>
<tr>
  <td colspan="2" align="center" style="font-size:120%; padding-left: 0.8em; padding-right: 0.8em">
    <%= h @ticket.tariff_name %>
    <div style="font-size:75%">с <%= @ticket.date -%></div>
  </td>
</tr>
