<div style="margin-left: 1.2em; margin-bottom: 0.8em">
  <% form_tag({}, :method => :get) do %>
    <%= text_field_tag 'filter', params[:filter] %>
    <%= submit_tag 'Фильтр', :name => nil %>
  <% end %>
</div>

<table class='t1 sortable'>
  <tr>
    <th>id
    <th>name
  </tr>
  <% @streets.each do |street| %>
  <tr>
    <td align="right"><%= street.id %></td>
    <td><%= h street.name %></td>
  </tr>
  <% end %>
</table>
