<% remote_form_for( 
  :ticket, 
  :update => 'vlan_content',
  :url    => {:action => 'update', :id => @ticket}, 
  :html   => {:style => 'margin:0'},
  :success=> 'update_router();update_billing()'
) do |f| %>
  <%= f.text_field 'vlan', :maxlength => 4 %>

  <div class="toolbox">
    <%= link_to_remote 'отмена', 
      :html   => { :style  => 'font-size:10pt; position: relative; top: -3px' },
      :update => 'vlan_content',
      :url    => { :controller => 'tickets/connection_tickets', :action => 'vlan', :id => @ticket }
    %>
    <%= image_submit_tag 'disk-black.png' %>
  </div>
<% end %>

<%= javascript_tag <<EOJS
  $('ticket_vlan').focus()
EOJS
%>
