<html><head>
<%= stylesheet_link_tag "style" %>
<title>Orbitel CRM</title>
</head><body>

<%= render :partial => 'users/user_bar' %>

<% if flash && flash[:error] %>
  <div class="error"><%= h flash[:error] %></div>
<% end %>

<div class="content">
<%= yield %>
</div>

<div class="copyright">© 2009 zed_0xff</div>
</body></html>
